@{
    ViewData["Title"] = "Home Page";
    
}

@model IndexViewModel
<div class="text-center">
    @if (Model.Teams.Count() == 1)
    {
        <h1 class="display-4">The @Model.TeamName</h1>
    }
    @if (Model.Teams.Count() != 1)
    {
        <h1 class="display-4">All Teams</h1>
    }
</div>

@foreach (var b in Model.Bowlers)
{
<div class="card my-4">
    <h5 class="card-header text-center">Bowler Number: @b.BowlerId</h5>
    <div class="card-body mb-0">
        <h6 class="m-0">@b.BowlerFirstName @b.BowlerMiddleInit @b.BowlerLastName</h6>
        <p class="m-0">@b.BowlerAddress</p>
        <p class="m-0">@b.BowlerCity, @b.BowlerState @b.BowlerZip</p>
        <p class="mt-2 mb-0">@b.BowlerPhoneNumber</p>
    </div>
</div>
}

<div page-info="@Model.PageNumberingInfo"
     page-url-teamname="@Model.TeamName">

</div>